.b {
  background-image: url("https://cdn.pixabay.com/photo/2018/01/12/16/45/code-3078609_960_720.jpg");
  background-size: 100%;  
  text-align: center;
}
.h {
  font-family: 'Orbitron', sans-serif;
  color: rgb(3, 22, 97);
  text-shadow: 20px 20px 20px rgba(224, 227, 233, 0.945);
  font-size: 2.5em;/* pixels/16 (default size en navegadores)= em */
}

#message1{
  width: 500px;
  height: 100px;
  margin: 1px;
}

#key{
  width: 100px;
  height: 40px;
  margin: 5px;
}
#result{
    width: 500px;
    height: 100px;
    margin: 10px;
}
.juego {
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(231, 230, 235);
  border: solid rgba(10, 51, 184, 0.404);
  background-color: rgba(17, 50, 160, 0.952);
  margin: 2%;
  padding: 2%;
  width: 60%;
  display: inline-block;
}

@media screen and (min-width: 740px){
  color: rgb(0, 255, 255);
}